<div class="col-md-4 col-sm-6">

                {% if img.title %}
                        <spna class="item-title">{{ img.title }}</spna>
                {% endif %}
                <a href="{{ img.image_url }}" class="highslide" onclick="return hs.expand(this)">
                        <img src="{{ img.image_small_url }}" class="model-img" />
                </a>

                <span class="item-price">
                        {% if img.price %}{{ img.price }} грн. {% endif %}
                </span>
</div>
