{% extends "base.html" %}
{% load cms_tags %}
{% load staticfiles %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}

<h2>{{ object.name }}</h2>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  {% if for_woman %}
        <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Женские
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
             {% for img in for_woman %}
                    {% include "include/item.html" %}
                {% endfor %}
          </div>
        </div>
      </div>
    {% endif %}

    {% if for_man %}
        <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Мужские
            </a>
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
          <div class="panel-body">
             {% for img in for_man %}
                    {% include "include/item.html" %}
                {% endfor %}
          </div>
        </div>
      </div>
    {% endif %}
</div>

{% endblock content %}
