{% extends "base.html" %}
{% load cms_tags %}
{% load staticfiles %}
{% load i18n %}
{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}
<script type="text/javascript">
    hs.graphicsDir = '{% static "highslide/graphics/" %}';
</script>
<h2>{{ object.name }} {% if request.user.is_superuser %} <a href="{% url 'collection-edit' object.pk %}" class="btn btn-default pull-right">{% trans 'Редактировать' %}</a> {% endif %}</h2>
{% if object.description %}
<div class="row">
    <div class="col-md-12 collection-description">
        {{ object.description }}
    </div>
</div>
{% endif %}
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  {% if for_woman %}
        <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Женские
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
             {% for img in for_woman %}
                    {% include "include/item.html" %}
                {% endfor %}
          </div>
        </div>
      </div>
    {% endif %}

    {% if for_man %}
        <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Мужские
            </a>
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
          <div class="panel-body">
             {% for img in for_man %}
                    {% include "include/item.html" %}
                {% endfor %}
          </div>
        </div>
      </div>
    {% endif %}

    {% if other %}
        <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingThree">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseTwo">
              Разное
            </a>
          </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
          <div class="panel-body">
             {% for img in other %}
                    {% include "include/item.html" %}
                {% endfor %}
          </div>
        </div>
      </div>
    {% endif %}
</div>

{% endblock content %}
